@import "tailwindcss";

.hero-section {
  background-image: url(/timefly_bg.png);
}

.staff-hero-section {
  background-image: url(/timefly_staff_bg.png);
}


@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.3s ease-out;
}